body {
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

main {
    border-radius: 10%;
}
article {
    background-color: aliceblue;
}

aside {
    background-color: white;
}
